<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Links</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <h1>Welcome Sir</h1>
       <h3>Created API on given problem model</h3>
       <h3>Below are links to given scenario </h3>

       <a href="POST/client" target="_blank"><b>Register a client</b></a> <br><br>
       <a href="GET/client" target="_blank"><b>List of clients</b></a> <br><br>
       <a href="PUT-PATCH/client/:1" target="_blank"><b>Edit client Info</b> (In URL after colon enter id by Defatult set to 1)</a> <br><br>
       <a href="DELETE/clients/:4" target="_blank"><b>Delete client Info </b>(In URL after colon enter id by Defatult set to 4)</a> <br><br>
       <a href="listProject/:1" target="_blank"><b>Retrieve assigned projects to logged-users.</b> (In URL after colon enter User id by Defatult set to 1)</a> <br><br>
       <a href="admin/" target="_blank">Admin Page <b>(username:'aishwarya' & password:'am159')</b></a> <br><br>

       <br><br>
       <h2>Solution submitted by:- Aishwarya Jadhav More</h2>
        
      
    </body>
</html>